<div class="container-fluid row col-12 justify-content-center" style="margin: 0;padding:0;" id="sublist">
    <div style="width: fit-content;" class="text-center">
        rate every subject from 0 to 10 based on how much do you want to study it. <br>
        (0 = I HATE IT, 5 = DO NOT KNOW or IT DOES NOT MATTER, 10 = I LIKE IT SOO MUCH)
    </div>
    <div style="width: 100%; height:50px;">

    </div>
    <div class="row justify-content-center" style="margin: 0;padding: 0;">
        <div class="col-12 col-md-8">
            <div class="list-group col-12">
                <ul class="list-group">
                    {% for module in modules %}
                        <li class="list-group-item h-2" style="padding:0;margin: 0;">
                            <div class="container-fluid row justify-content-center" style="margin: 0; padding: 0;">
                                <div class="col-lg-10 col-md-9 col-8" style="margin: 0;padding: 0;">
                                    <div class="card" style="width: fit-content;border: none; margin: 0;">
                                        <div class="card-body">
                                        <h5 class="card-title">{{ module.name }}</h5>
                                        {% if module.desc %}
                                            <a href="{{ module.desc }}" target="_blank" class="card-link">subject descreption</a>
                                        {% else %}
                                            <a href="{{ url_for('nodef') }}" target="_blank" class="card-link">subject descreption</a>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-2 mt-4" style="margin: 0;padding: 0;">
                                    <div style="width:50px;margin: 0;">
                                        {% if module.id == 39 %}
                                            <input name="{{ module.name }}" onkeypress="submitinfo()" min="0" max="10" type="number" id="{{ module.id }}rating" class="form-control" style="padding:5px;" />
                                        {% else %}
                                            <input name="{{ module.name }}" onkeypress="nextinp(event,'{{ module.id }}')" min="0" max="10" type="number" id="{{ module.id }}rating" class="form-control" style="padding:5px;" />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="justify-content-center text-center mt-4">
        <button onclick="submitinfo()" class="btn btn-outline-primary">submit</button>
    </div>
</div>