*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: kingofwar;
    src: url(fonts/GODOFWAR.TTF);
}
@font-face {
    font-family: chopsic;
    src: url(fonts/Chopsic.otf);
}
@font-face {
    font-family: sunflower;
    src: url(fonts/sunflower.otf);
}
@font-face {
    font-family: barbarian;
    src: url(fonts/Barbarian.ttf);
}
*{
    font-family: sunflower;
}
html,body{
    height: 100%;
}
body{
    min-height: 100%;
}

#by{
    font-size: 20px;
    color: rgb(255, 0, 128);
    -webkit-text-stroke: 1px black;
    font-family: kingofwar;
}
#by::after, #by::before{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: none;
}
#by::before{
    content:'by ';
}
#by::after{
    content: '\00a9 2023';
}
.ensafil span{
    font-size: 50px;
    font-family: kingofwar;
    color: red;
    -webkit-text-stroke: 1px black;
}
.fotter{
    margin: 0;
    padding:0;
    width:100%;
    height:fit-content;
    background-color:rgb(56, 215, 255);
    position:relative;
    top: 53%;
}
