<div class="container-fluid row col-sm-12 col-md-9 col-lg-7 justify-content-center" style="margin: 0;padding:0;">
    <ul class="list-group">
        {% for fill in context %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div style="color: rgb(0, 0, 0);">{{ fill.fill }}</div>
            </div>
            <span class="badge bg-info rounded-pill mt-2" style="color: rgb(63, 63, 63);">{{ fill.order }}</span>
            </li>
        {% endfor %}
    </ul>
</div>